.mainCont {
  background-color: #0c1010;
  height: 100vh;
}

.courseContainer {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 4vh;
  height: 75%;
  flex-direction: column;
  justify-content: space-between;
}

.moveIconCont {
  display: flex;
  width: 77%;
}
.buttonContainer {
  display: flex;
  width: 77%;
  justify-content: center;
}
.wave {
  position: absolute;
  bottom: 0;
}

.courseMaterialsCont {
  width: 77%;
  height: 100%;
  display: flex;
  flex-direction: row;
  color: white;
}

.courseTextMaterials {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17px;
}

.courseImgMaterials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.courseImgMaterials img {
  width: 95%;
  height: 95%;
}

.fatText {
  font-weight: 700;
}

.twoColumnList {
  columns: 2;
  padding: 0;
  list-style-type: none;
}

.additionalCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fatText2 {
  font-weight: 700;
  margin-top: 10px;
}
.courseType1TextMaterials {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 17px;
  height: 82%;
}
